/*global*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}

p {
    font-size: 16px;
}

/*link*/
a {
    color: #ffffff;
    text-decoration: none;
}

/*header*/
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

.header h1 {
    display: inline-block;
    font-size: 48px;
}

/*header "seo" style*/
.header h1 .seo {
    color: #d9dcd6;
}

/*nav bar*/
nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/*nav bar items*/
nav ul li {
    display: inline-block;
    margin-left: 25px;
}


/*hero image*/
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/*main content*/
main {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/*main content paragraph*/
.main-text {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}
/*main content titles*/
.main-text h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/*main content image*/
.float-left {
    float: left;
    margin-right: 25px;
    max-height: 200px;
}

.float-right {
    float: right;
    margin-left: 25px;
    max-height: 200px;
}

/*side bar format*/
aside {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/*side bar section*/
aside .sidebar-section {
    margin-bottom: 32px;
    color: #ffffff;
}

/*side bar title*/
aside h3 {
    margin-bottom: 10px;
    text-align: center;
}

/*side bar image*/
aside img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}


/*footer*/
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

footer h4 {
    font-size: 20px;
}
